name: AlphaCare CI Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # We install libraries needed for the project
        pip install pandas numpy matplotlib seaborn scikit-learn
        
    - name: Verify Script Execution
      run: |
        echo "Environment setup complete."